.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px;
    border-style: solid;
    border-color: black;


}

.btnBox {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.outerBox {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-content: flex-start;

}

.innerBox {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;

    height: 30px;


}